<%= form_for([@user, @movie]) do |f| %>
  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <h4 class="text-danger"><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>
      <ul>
      <% @movie.errors.full_messages.each do |message| %>
        <li class="text-danger"><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <% if @movie.errors.include?(:title) %>
      <%= f.label :title, :class => "text-danger" %>
    <% else %>
      <%= f.label :title %>
    <% end %>
    <%= f.text_field :title, :class => "form-control" %>
  </div> 

  <div class="form-group">
    <% if @movie.errors.include?(:format) %>
      <%= f.label :format, :class => "text-danger" %>
    <% else %>
      <%= f.label :format %>
    <% end %>
    <%= f.select(:format, options_for_select([["VHS"],["DVD"],["Streaming"]], @movie.format )) %>
  </div>

  <form class="form-inline">
    <div class="form-group">
      <% if @movie.errors.include?(:length) || @movie.errors.include?(:length_hour) || @movie.errors.include?(:length_min) %>
        <%= f.label :length, :class => "text-danger" %> (H:MM)
      <% else %>
        <%= f.label :length %> (H:MM)
      <% end %>

      <div class="input-group">
        <% if @movie.length.nil? %>
          <%= f.text_field :length_hour, :value => 0, :class => "form-control" %> 
        <% else %>
          <%= f.text_field :length_hour, :value => @movie.length/60, :class => "form-control" %> 
        <% end %>
        <div class="input-group-addon">:</div>
        <% if @movie.length.nil? %>
          <%= f.text_field :length_min, :value => 0, :class => "form-control" %>
        <% else %>
          <%= f.text_field :length_min, :value => @movie.length%60, :class => "form-control" %>
        <% end %>
      </div>
    </div>
  

  <div class="form-group">
    <%  if @movie.errors.include?(:release_year) %>
      <%= f.label :release_year, :class => "text-danger" %>
    <% else %>
      <%= f.label :release_year %>
    <% end %>
    <%= f.text_field :release_year, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :rating %>
    <%= f.label :rating, "1", :class => "radio-inline" %>
      <%= f.radio_button :rating, 1, :check => @movie.rating == 1 %>
    <%= f.label :rating, "2", :class => "radio-inline" %>   
      <%= f.radio_button :rating, 2, :check => @movie.rating == 2 %>
    <%= f.label :rating, "3", :class => "radio-inline" %>
      <%= f.radio_button :rating, 3, :check => @movie.rating == 3 %>
    <%= f.label :rating, "4", :class => "radio-inline" %>
      <%= f.radio_button :rating, 4, :check => @movie.rating == 4 %>
    <%= f.label :rating, "5", :class => "radio-inline" %>
      <%= f.radio_button :rating, 5, :check => @movie.rating == 5 %>
  </div>

  
  <% if @movie.length.nil? %>
    <%= f.submit :class => "btn btn-warning", :value => "Create" %>
  <% else %>
    <%= f.submit :class => "btn btn-warning", :value => "Update" %>
  <% end %>
</form>
<% end %>
