<%= form_for([@user, @movie]) do |f| %>
  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>
      <ul>
      <% @movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, :class => "form-control" %>
  </div> 

  <div class="form-group">
    <%= f.label :format %>
    <%= f.select(:format, options_for_select([["VHS"],["DVD"],["Streaming"]], @movie.format )) %>
  </div>

  <form class="form-inline">
    <div class="form-group">
      <%= f.label :length %> (HH:MM)
      <div class="input-group">
        <% if @movie.length.nil? %>
          <%= f.text_field :length_hour, :value => 0, :class => "form-control" %> 
        <% else %>
          <%= f.text_field :length_hour, :value => @movie.length/60, :class => "form-control" %> 
        <% end %>
        <div class="input-group-addon">:</div>
        <% if @movie.length.nil? %>
          <%= f.text_field :length_min, :value => 0, :class => "form-control" %>
        <% else %>
          <%= f.text_field :length_min, :value => @movie.length%60, :class => "form-control" %>
        <% end %>
      </div>
    </div>
  </form>

  <div class="form-group">
    <%= f.label :release_year %>
    <%= f.text_field :release_year, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :rating %>
    <%= label_tag(:rating_1, "1", :class => "radio-inline") %>
      <%= radio_button_tag(:rating, 1) %>
    <%= label_tag(:rating_2, "2", :class => "radio-inline") %>   
      <%= radio_button_tag(:rating, 2) %>
    <%= label_tag(:rating_3, "3", :class => "radio-inline") %>
      <%= radio_button_tag(:rating, 3) %>
    <%= label_tag(:rating_4, "4", :class => "radio-inline") %>
      <%= radio_button_tag(:rating, 4) %>
    <%= label_tag(:rating_5, "5", :class => "radio-inline") %>
      <%= radio_button_tag(:rating, 5) %>
  </div>

  <%= f.submit :class => "btn btn-warning", :value => "Update" %>

<% end %>
