<p id="notice"><%= notice %></p>

<h1>Listing Movies</h1>

<table id="Table" class="table-hover table display">
  <thead>
    <tr>
      <th >Title</th>
      <th class="hidden-xs hidden-sm">Format</th>
      <th class="hidden-xs hidden-sm hidden-md">Length(HH:MM)</th>
      <th class="hidden-xs hidden-sm hidden-md">Release Year</th>
      <th class="hidden-xs hidden-sm hidden-md">Rating</th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td class="hidden-xs hidden-sm"><%= movie.format %></td>
        <td class="hidden-xs hidden-sm hidden-md"><%= movie.length/60 %>:<%= movie.length%60 %></td>
        <td class="hidden-xs hidden-sm hidden-md"><%= movie.release_year %></td>
        <td class="hidden-xs hidden-sm hidden-md"><%= movie.rating %></td>
        <td>
          <%= link_to 'Details', {:action => 'show', :id => movie.id, :user_id => params[:user_id]}, :class => "btn btn-default btn-sm"  %>
          <%= link_to 'Edit', {:action => 'edit', :id => movie.id, :user_id => params[:user_id]}, :class => "btn btn-sm btn-warning" %>
          <%= link_to 'Destroy', {:action => 'destroy', :id => movie.id, :user_id => params[:user_id] }, method: :delete,  data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-sm"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add Movie', new_user_movie_path, :class => "btn btn-primary" %>
<br>