<p id="notice"><%= notice %></p>

<table id="musicTable" class="display" width="100%" style="width:100%;">
  <thead>
    <tr>
      <th >Title</th>
      <th data-hide="phone" data-name="Format">Format</th>
      <th data-hide="phone,tablet" data-name="Length">Length(HH:MM)</th>
      <th data-hide="phone,tablet" data-name="Size">Release Year</th>
      <th data-hide="phone,tablet" data-name="Size">Rating</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @movie.title %></td>
        <td><%= @movie.format %></td>
        <td><%= @movie.length.hour %>:<%= @movie.length.min %></td>
        <td><%= @movie.release_year %></td>
        <td><%= @movie.rating %></td>
      </tr>
  </tbody>
</table>

<%= link_to 'Edit', {:action => 'edit', :user_id => @user.id } %> 
<%= link_to 'Back', {:action => 'index', :user_id => @user.id } %>
<br>
