<p id="notice"><%= notice %></p>

<div class="row">
    <div class="col-xs-6 col-sm-4 col-md-4 h2"><strong>Movie </strong></div>
    <div class="col-xs-6 col-sm-8 col-md-8 h2"><%= @movie.title %></div>
</div> 

<div class="row">
    <div class="col-xs-6 col-sm-4 col-md-4"><strong>Format :</strong></div>
    <div class="col-xs-6 col-sm-8 col-md-8"><%= @movie.format %></div>
</div> 

<div class="row">
    <div class="col-xs-6 col-sm-4 col-md-4"><strong>Length</strong>(h:mm) <strong>:</strong></div>
    <div class="col-xs-6 col-sm-8 col-md-8"><%= @movie.length/60 %>:<%= @movie.length%60 %></div>
</div> 

<div class="row">
    <div class="col-xs-6 col-sm-5 col-md-4"><strong>Release Year :</strong></div>
    <div class="col-xs-6 col-sm-8 col-md-8"><%= @movie.release_year %></div>
</div> 

<div class="row">
    <div class="col-xs-6 col-sm-4 col-md-4"><strong>Rating :</strong></div>
    <div class="col-xs-6 col-sm-8 col-md-8"><%= @movie.rating %></div>
</div> 
<br>
<div><%= link_to 'Edit', {:action => 'edit', :user_id => @user.id }, :class => "btn btn-warning" %> </div>
<div><%= link_to 'Destroy', {:action => 'destroy', :id => @movie.id, :user_id => params[:user_id] }, method: :delete,  data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-adjust"  %></div>
<div><%= link_to 'Back', {:action => 'index', :user_id => @user.id }, :class => "btn btn-info btn-adjust" %></div>
<br>